Source: libvulkan
Section: x11
Priority: optional
Maintainer: Eugene Nuribekov <eugene.nuribekov@toradex.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: http://nxp.com

Package: libvulkan
Section: libs
Architecture: arm64
Multi-Arch: same
Depends: libGAL (=6.2.4), libvsc (=6.2.4), libspriv (=6.2.4), libGLSLC (=6.2.4), libwayland-client0, libc6
Description: libvulkan
 The Loader implements the main VK library. It handles layer management and driver management. The loader fully supports multi-gpu operation. As part of this, it dispatches API calls to the correct driver, and to the correct layers, based on the GPU object selected by the application.
