Source: libgles
Section: non-free/x11
Priority: optional
Maintainer: Eugene Nuribekov <eugene.nuribekov@toradex.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: http://nxp.com

Package: libglesv1-cm-vivante1
Section: libs
Architecture: arm64
Multi-Arch: same
Depends: libgal-vivante1 (=6.4.0.p2.4-1), libvsc-vivante1 (=6.4.0.p2.4-1), libc6
Provides: libgles1, libgles1-mesa
Conflicts: libgles1, libgles1-mesa
Replaces: libgles1, libgles1-mesa
Description: Vivante implementation of the OpenGL|ES 1.x API
 OpenGL|ES is a cross-platform API for full-function 2D and 3D graphics on
 embedded systems - including consoles, phones, appliances and vehicles.
 It contains a subset of OpenGL plus a number of extensions for the
 special needs of embedded systems.
 .
 OpenGL|ES 1.x provides an API for fixed-function hardware.

Package: libglesv2-vivante1
Section: libs
Architecture: arm64
Multi-Arch: same
Depends: libgal-vivante1 (=6.4.0.p2.4-1), libvsc-vivante1 (=6.4.0.p2.4-1), libc6
Provides: libgles2, libgles2-mesa
Conflicts: libgles2, libgles2-mesa
Replaces: libgles2, libgles2-mesa
Description: Vivante implementation of the OpenGL|ES 2.x API -- development files
 OpenGL|ES is a cross-platform API for full-function 2D and 3D graphics on
 embedded systems - including consoles, phones, appliances and vehicles.
 It contains a subset of OpenGL plus a number of extensions for the
 special needs of embedded systems.
 .
 OpenGL|ES 2.x provides an API for programmable hardware including vertex
 and fragment shaders.

Package: libgles-vivante1-dev
Architecture: any
Depends: libglesv1-cm-vivante1 (=6.4.0.p2.4-1), libglesv2-vivante1 (=6.4.0.p2.4-1)
Provides: libgles2-mesa-dev, libgles-dev
Conflicts: libgles2-mesa-dev, libgles-dev
Replaces: libgles2-mesa-dev, libgles-dev
Multi-Arch: same
Description: Vivante implementation of the OpenGL|ES 1.x and 2.x API -- development files
 OpenGL|ES is a cross-platform API for full-function 2D and 3D graphics on
 embedded systems - including consoles, phones, appliances and vehicles.
 It contains a subset of OpenGL plus a number of extensions for the
 special needs of embedded systems.
 .
 OpenGL|ES 1.x provides an API for fixed-function hardware. 
 .
 OpenGL|ES 2.x provides an API for programmable hardware including vertex
 and fragment shaders.
 .
 This package provides a development environment for building applications
 using the OpenGL|ES 1.x or 2.x APIs.
