Source: libglesv2
Section: x11 
Priority: optional
Maintainer: Eugene Nuribekov <eugene.nuribekov@toradex.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: http://nxp.com

Package: libglesv2-vivante1
Section: libs
Architecture: arm64
Multi-Arch: same
Depends: libgal-vivante1 (=6.2.4.p4.0), libvsc-vivante1 (=6.2.4.p4.0), libc6
Description: libGLESv2
 OpenGL ES common lite library
