Source: libopenvg
Section: x11
Priority: optional
Maintainer: Eugene Nuribekov <eugene.nuribekov@toradex.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: http://www.nxp.com

Package: libopenvg-vivante1
Section: libs
Architecture: arm64
Multi-Arch: same
Depends: libgal-vivante1 (=6.2.4), libvsc-vivante1 (=6.2.4), libc6
Description: libOpenVG
 OpenVG is a royalty-free, cross-platform API that provides a low-level hardware acceleration interface for vector graphics libraries such as Flash and SVG.
