Source: libopenvg
Section: libs
Priority: optional
Maintainer: Eugene Nuribekov <eugene.nuribekov@toradex.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: http://www.nxp.com

Package: libopenvg-vivante1
Section: libs
Architecture: arm64
Multi-Arch: same
Depends: libgal-vivante1 (=6.2.4.p4.0-1), libvsc-vivante1 (=6.2.4.p4.0-1), libc6
Provides: libopnvg1-mesa
Description: Vivante implementation of the OpenVG API -- runtime
 This package contains the mesa implementation of the OpenVG 2D acceleration
 library.  OpenVG provides a device independent and vendor-neutral interface
 for sophisticated 2D graphical applications, while allowing device
 manufacturers to provide hardware acceleration on devices ranging from wrist
 watches to full microprocessor-based desktop and server machines.

Package: libopenvg-vivante1-dev
Section: libs
Architecture: any 
Multi-Arch: same
Depends: libopenvg-vivante1 (=6.2.4.p4.0-1)
Provides: libopenvg1-mesa-dev 
Description: Vivante implementation of the OpenVG API -- development files
 This package contains the mesa implementation of the OpenVG 2D acceleration
 library.  OpenVG provides a device independent and vendor-neutral interface
 for sophisticated 2D graphical applications, while allowing device
 manufacturers to provide hardware acceleration on devices ranging from wrist
 watches to full microprocessor-based desktop and server machines.
 .
 This package contains the development environment required for compiling
 programs against the OpenVG 2D acceleration library.





