Source: imx-gpu-viv
Priority: optional
Maintainer: Abdur Rehman <abdur.rehman@toradex.com>
Build-Depends:
 ca-certificates,
 debhelper,
 libx11-6,
 libxfixes3,
 libxdamage1,
 libxext6,
 libdrm2,
 libwayland-server0,
 libwayland-client0,
 libwayland-cursor0,
 libwayland-egl1,
 libdrm-common,
 libx11-data,
 libxau6,
 libxcb1,
 libxdmcp6,
 wget
Standards-Version: 4.1.4
Section: libs

Package: imx-gpu-viv-wayland
Section: libs
Architecture: arm64
Provides:
 libegl1,
 libgbm1 (=22.2.0-1),
 libgl1,
 libgles1,
 libgles2,
 ocl-icd-libopencl1,
 libopencl-1.2-1
Conflicts:
 libegl1,
 libgbm1,
 libgl1,
 libgles1,
 libgles2,
 ocl-icd-libopencl1,
 libopencl-1.2-1
Replaces:
 libegl1,
 libgbm1,
 libgl1,
 libgles1,
 libgles2,
 ocl-icd-libopencl1,
 libopencl-1.2-1
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Vivante Wayland binaries
 Vivante Userspace Graphics libraries for wayland.

Package: imx-gpu-viv-wayland-dev
Section: libdevel
Architecture: arm64
Depends: imx-gpu-viv-wayland
Provides:
 libegl-dev,
 libgbm-dev,
 libgl-dev,
 libgles-dev,
 libglx-dev,
 ocl-icd-opencl-dev,
 opencl-c-headers,
 opencl-clhpp-headers,
 libgl1-mesa-dev,
 libgles1-mesa-dev,
 libgles2-mesa-dev,
 libegl1-mesa-dev
Conflicts:
 libegl-dev,
 libgbm-dev,
 libgl-dev,
 libgles-dev,
 libglx-dev,
 ocl-icd-opencl-dev,
 opencl-c-headers,
 opencl-clhpp-headers,
 libgl1-mesa-dev,
 libgles1-mesa-dev,
 libgles2-mesa-dev,
 libegl1-mesa-dev
Replaces:
 libegl-dev,
 libgbm-dev,
 libgl-dev,
 libgles-dev,
 libglx-dev,
 ocl-icd-opencl-dev,
 opencl-c-headers,
 opencl-clhpp-headers,
 libgl1-mesa-dev,
 libgles1-mesa-dev,
 libgles2-mesa-dev,
 libegl1-mesa-dev
Description: Development files for imx-gpu-viv-wayland
 Vivante development files for wayland.

Package: imx-gpu-viv-tools
Architecture: arm64
Section: devel
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Vivante Tools
 Tools for Vivante
