#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_HOST_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_OPTIONS=noautodbgsym

FILENAME="imx-gpu-viv-6.4.11.p2.4d-aarch64"
URL="https://www.nxp.com/lgfiles/sdk/lsdk2406/$(FILENAME).bin"

LIBVULKAN_API_VERSION=1.3.239

%:
	dh $@

override_dh_auto_configure:
	wget $(URL) && chmod +x $(FILENAME).bin
	./$(FILENAME).bin --auto-accept
	mv $(FILENAME)/* .
	rm -rf $(FILENAME)
	# Also remove usr/include/KHR/khrplatform.h and
	# usr/lib/pkgconfig/gl.pc. We are using Debian's
	# default ones which comes from libgl-dev package.
	rm -rvf `find . -iname khr`
	find . -iname gl.pc -exec rm -vf '{}' \;
	# And vulkan headers too as is done in meta-freescale
	rm -rvf `find . -iname vulkan`

execute_before_dh_install:
	sed -e "s|%libdir%|/usr/lib/$(DEB_HOST_GNU_TYPE)|" \
	    -e "s|%api_version%|$(LIBVULKAN_API_VERSION)|" \
	    -i `find . -iname imx_icd.json`

override_dh_strip_nondeterminism:

override_dh_strip:
