Source: libclc
Section: x11
Priority: optional
Maintainer: Eugene Nuribekov <eugene.nuribekov@toradex.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: http://nxp.com

Package: libclc-vivante1
Section: libs
Architecture: arm64
Multi-Arch: same
Depends: libigal-vivante1 (=6.2.4), libvsc-vivante1 (=6.2.4), libllvm-vivante1 (=6.2.4), libstdc++
Description: libCLC
 OpenCL C language implementation
