Source: libgl
Section: x11
Priority: optional
Maintainer: Eugene Nuribekov <eugene.nuribekov@toradex.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: http://nxp.com

Package: libgl-vivante1
Section: libs
Architecture: arm64
Multi-Arch: same
Depends: libgal-vivante1 (=6.4.0.p2.4-1), libxext6, libx11-6, libxfixes3, libxdamage1, libglapi-mesa, libc6
Provides: libgl1
Conflicts: libgl1
Replaces: libgl1
Description: Vendor neutral GL dispatch library -- legacy GL support
 This is an implementation of the vendor-neutral dispatch layer for
 arbitrating OpenGL API calls between multiple vendors on a per-screen basis.

Package: libgl-vivante1-dev
Section: libs
Architecture: arm64
Multi-Arch: same
Depends: libgl-vivante1 (=6.4.0.p2.4-1)
Provides: libgl1-mesa-dev, libgl-dev
Conflicts: libgl1-mesa-dev, libgl-dev
Replaces: libgl1-mesa-dev, libgl-dev
Description: Vendor neutral GL dispatch library -- legacy GL support
 This is an implementation of the vendor-neutral dispatch layer for
 arbitrating OpenGL API calls between multiple vendors on a per-screen basis.
 .
 This package provides the development environment for compiling programs
 against the GL library.
