Source: libvdk
Section: x11
Priority: optional
Maintainer: Eugene Nuribekov <eugene.nuribekov@toradex.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: http://nxp.com

Package: libvdk-vivante1
Section: libs
Architecture: arm64
Multi-Arch: same
Depends: libegl-vivante1 (=6.4.0.p2.4-1), libgbm-vivante1 (=6.4.0.p2.4-1), libwayland-cursor0, libwayland-client0, libc6
Description: libVDK
 The Visual Development Kit (VDK) is a C++ library that wraps the GTK+ toolkit.
