Source: libvdk
Section: x11
Priority: optional
Maintainer: Eugene Nuribekov <eugene.nuribekov@toradex.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: http://nxp.com

Package: libvdk-vivante1
Section: libs
Architecture: arm64
Multi-Arch: same
Depends: libegl-vivante1 (=6.2.4.p4.0), libgbm-vivante1 (=6.2.4.p4.0), libwayland-cursor1, libwayland-client1, libc6
Description: libVDK
 The Visual Development Kit (VDK) is a C++ library that wraps the GTK+ toolkit.
