Source: libegl
Section: x11
Priority: optional
Maintainer: Eugene Nuribekov <eugene.nuribekov@toradex.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: http://nxp.com

Package: libegl-vivante1
Section: libs
Architecture: arm64
Multi-Arch: same
Depends: libgal-vivante1 (=6.2.4), libdrm-vivante1, libgbm-vivante1 (=6.2.4), libc6
Description: libEGL
 Implementation of EGL API
